*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

:root {
  --dark-blue: #030712;
  --grey: #6b7280;
  --yellow: #fbbf24;
  --light-grey: #f9fafb;
  --font-family: "Roboto", sans-serif;
  --font-2xl: 2.5rem;
  --font-xl: 2rem;
  --font-lg: 1.25rem;
  --font-m: 1.125;
  --font-md: 1rem;
  --font-sm: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark-blue);
  color: var(--light-grey);
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

.btn {
  color: var(--light-grey);
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid var(--yellow);
  font-size: var(--font-m);
}

.btn:hover {
  background: var(--yellow);
  transition: all 0.3s;
  color: var(--dark-blue);
}

.hide {
  display: none;
}
