/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

input,
h1,
h2,
h3,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
}

/* Root variables */

:root {
  /* font-color */
  --color-dark-blue: #030712;
  --color-grey: #6b7280;
  --color-yellow: #fbbf24;
  --color-light-grey: #f9fafb;
  /* font-family */
  --font-family: "Roboto", sans-serif;
  /* font-s = font-size */
  --font-s-4xl: 3.125rem;
  --font-s-3xl: 2.5rem;
  --font-s-2xl: 2.2rem;
  --font-s-xl: 2rem;
  --font-s-2lg: 1.875rem;
  --font-s-lg: 1.25rem;
  --font-s-2m: 1.125rem;
  --font-s-m: 1rem;
  --font-s-sm: 0.875rem;
  /* font-w = font-weight */
  --font-w-black: 900;
  --font-w-xbold: 800;
  --font-w-bold: 700;
  --font-w-medium: 500;
  --font-w-regular: 400;
  --font-w-light: 300;
}

html {
  scroll-behavior: smooth;
}

.hide {
  display: none;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-dark-blue);
  color: var(--color-light-grey);
}

h3 {
  font-size: var(--font-s-xl);
  font-weight: var(--font-w-medium);
  margin: 2.5rem 0rem 2rem 0rem;
}

/* Container */
#app {
  max-width: 1536px;
  margin-inline: auto;
  padding: 1rem 2rem;
}

/* Header */

.header__logo {
  color: var(--color-light-grey);
  font-size: var(--font-s-3xl);
  font-weight: var(--font-w-regular);
}

.header__logo-span {
  color: var(--color-yellow);
  font-size: var(--font-s-3xl);
  font-weight: var(--font-w-black);
}

.header__form {
  border-radius: 0.75rem;
  background: var(--color-light-grey);
  width: 28rem;
  height: 3rem;
  padding: 0.5rem;
  color: var(--color-dark-blue);
}

.header__form-wrapper {
  color: var(--color-dark-blue);
  width: 100%;
  font-size: var(--font-s-lg);
}

.header__form-input {
  background: transparent;
  border: none;
  outline: none;
  width: 80%;
}

.header__darkmode {
  border-radius: 50%;
  border: 1px solid var(--color-yellow);
}

/* Buttons */

.btn {
  color: var(--color-light-grey);
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-yellow);
  font-size: var(--font-s-2m);
}

.btn:hover {
  background: var(--color-yellow);
  transition: all 0.3s;
  color: var(--color-dark-blue);
}

/* Movie List */
.movielist__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  width: 100%;
  margin-block: 2rem;
}

.movielist__card {
  cursor: pointer;
  position: relative;
}

.movielist__card:where(:hover, :focus) {
  transform: scale(1.05);
  transition: all 0.3s;
}

.movielist__card img {
  border-radius: 0.75rem;
  width: 220px;
  object-fit: cover;
  max-width: 100%;
  z-index: 999;
}

.movielist__card-info {
  position: absolute;
  bottom: 10px;
  background: var(--color-dark-blue);
  padding: 0.25rem 0.5rem;
  left: 10px;
  border-radius: 20px;
  border: 2px solid var(--color-yellow);
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.movielist__card-info span {
  font-size: var(--font-s-sm);
}

.movielist__card-info .fa-star {
  color: var(--color-yellow);
}

/* Details page */

.movie__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.movie__cover {
  width: 300px;
}

.movie__genres {
  display: flex;
}

.movie__info-heading {
  display: flex;
}

.movie__info-title {
  font-size: var(--font-s-2xl);
  font-weight: var(--font-w-bold);
}

.movie__info-extra {
  font-size: var(--font-s-2m);
  font-weight: var(--font-w-light);
}

.movie__info-dot {
  color: var(--color-yellow);
  margin: 0 0.4rem 0 0.4rem;
}

.movie__genres p {
  color: var(--color-grey);
  text-align: center;
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-medium);
  padding: 0.4rem;
  border-radius: 0.75rem;
  border: 1px solid var(--color-grey);
}

.movie_details {
  font-size: var(--font-s-2m);
  font-weight: var(--font-w-medium);
}

.movie__details-content1 {
  color: var(--color-yellow);
  margin-bottom: 0.5rem;
}

.movie__add {
  width: 500px;
  margin-left: 100px;
}

.movie__add--btn {
  color: var(--color-dark-blue);
  background: var(--color-yellow);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.75rem;
  font-size: var(--font-s-2m);
  margin-bottom: 50px;
}

.movie__add--btn:hover {
  transition: all 0.3s;
  font-weight: var(--font-w-xbold);
}

.movie__add-rating {
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-bold);
}

.IMDB__rating {
  font-size: var(--font-s-lg);
  font-weight: var(--font-w-bold);
  color: var(--color-yellow);
}

.IMDB__star {
  color: var(--color-yellow);
}

/* Watchlist Page */
.movielist__card .fa-bookmark {
  position: absolute;
  font-size: 2.5rem;
  top: 15px;
  right: 25px;
  color: var(--color-yellow);
}
/* Footer */

.footer {
  height: 7.7rem;
  border-top: 0.125rem solid;
  border-color: var(--color-yellow);
}

.footer__logo {
  color: var(--color-light-grey);
  font-size: var(--font-s-2lg);
  font-weight: var(--font-w-regular);
}

.footer__logo-span {
  color: var(--color-yellow);
  font-size: var(--font-s-2lg);
  font-weight: var(--font-w-black);
}

.footer__text {
  font-size: var(--font-s-m);
  font-weight: var(--font-w-regular);
}

.footer__nav {
  color: var(--color-yellow);
}

.footer__icons:hover {
  color: var(--color-light-grey);
}
